/node_modules
/public/hot
/public/storage
/public/images/products
/public/images/banners/*
/public/images/brands
storage/framework/views/*
storage/*

/public/images/category
/public/images/brands


/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


Price MAPPING,



