// Variables
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "../assets/css/style.min.css";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "../assets/vendor/fontawesome-free/css/all.min.css";

@font-face {
    font-family: AutofactorBold;
    src: url(../fonts/AutoFactorCond-Heavy.woff2);
    font-weight: bold;
}

@font-face {
    font-family: AutofactorMedium;
    src: url(../fonts/AutoFactorCond-Medium.woff2);
    font-weight: bold;
}

// @font-face {
//     font-family: luxurySaleFont5;
//     src: url(../fonts/ProximaNovaAltCondensedExtrabold.otf);
//     font-weight: bold;
// }

// @font-face {
//     font-family: luxurySaleFont8;
//     src: url(../fonts/GalaxiePolaris-Medium.otf);
//     font-weight: bold;
// }

// @font-face {
//     font-family: PolarisBook;
//     src: url(../fonts/ProximaNovaAltRegular.otf);
//     font-weight: bold;
// }

// @font-face {
//     font-family: Polaris-Bold;
//     src: url(../fonts/GalaxiePolaris-Bold.otf);
//     font-weight: bold;
// }

// @font-face {
//     font-family: luxurysale7;
//     src: url(../fonts/ProximaNovaAltCondensedThin.otf);
// }



body.modal-open {
    overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.8rem;
    color: #222529;
    font-weight: 700;
    line-height: 1.1;
    font-family: AutofactorMedium, sans-serif;
    font-size: 2rem;
}



div#offcanvas {
    top: 178px;
}

.logo {
    max-width: 236px
}

.dropdown-items {
    width: 100%;
    background-color: #ffffff;
    top: 50px;
    z-index: 1000;
}

.search-products-icon {
    /* line-height: 16px; */
    background: none;
    border: none;
    padding: 0 16px;
    position: absolute;
    z-index: 200;
    top: 26%;
}

.header-bottom {
    box-shadow: 0 1px 5px 0 rgb(32 33 36 / 12%), 0 2px 2px 0 rgb(32 33 36 / 14%), 0 3px 1px -2px rgb(32 33 36 / 20%);
    background: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}

input.search-products {
    padding-left: 5rem;
}


/* Customize the label (the container) */

label.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label {
    position: relative;
    top: 5px;
}


/* Hide the browser's default checkbox */

.container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #f0592a;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.coverlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 177px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

// Fonts
.owl-theme .owl-dots {
    position: relative;
    top: -30px;
    background-color: #fff;
    /* width: 119px; */
    margin-left: 48rem;
    margin-right: 40rem;
}

@media (max-width:500px) {

    .cta-simple{
        padding: 0px 0px;
    }
}

.image-category{
    max-width: 120px;
    width: 124px;
    height: 124px;
    overflow: hidden;
}

.underline {
    width: 84px;
    height: 4px;
    background-color: #f26100;
    transform: skewX(-30deg);
}